.footer-main-container{
    margin-top: 50px;
}
.footer-component-block{
    display: flex;
    flex-direction: column;
   
}

.footer-component{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    background-color: #2f466c;
}

.bottom-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #232347;
    flex-wrap: wrap;
}
.country-currency{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
 .country-currency2{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.country-currency > p {
    padding-right:10px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
}
.country-currency2 > p {
    padding-left:15px;
    padding-bottom: 12px;
    padding-top: 12px;
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
}

.footer-header{
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 12px;
}

.footer-list > p {
    color: white;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    padding-bottom: 12px;
    padding-top: 12px;
}


.personal-links > a > .icons {
    padding-top: 50px;
    padding-right: 30px;
}

.personal-links > a >.icons:hover{
    transform: scale(1.05);
}