.nav-bar {
    display:flex;
    flex-direction: row; 
    justify-content: space-between;
    align-content: stretch;
    background-color: white;
    position: relative;
    margin-top: 10px;
    margin-left: 15%;
    margin-right: 15%;
}

.logo {
    display: block;
    height: 45px;

}

// .search-box{
//     display:flex;
//     height:36px;
//     min-width: 48vw;
//     border-radius: 40px;
//     margin-left: 5px;
//     margin-right: 5px;
//     padding-top: 3px;
//     padding-bottom: 3px;
//     padding-left: 20px;
//     padding-right: 20px;
//     font-size: 16px;
//     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
//     background-color: whitesmoke;
    
// }

.signup-button-nav, .login-button-nav, .logout-button-nav {
    height: 40px;
    border-radius: 40px;
    border: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    // margin: 5px;
    background-color: white;
    white-space: nowrap;
    padding-left: 20px;
    padding-right:20px;
}

.signup-button-nav:hover, .login-button-nav:hover, .logout-button-nav:hover{
    background-color: rgb(219, 219, 219);
    cursor: pointer;
}

.arrange-button{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.profile-name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.nav-list{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    margin-top:10px;
    justify-content: space-between;
    box-sizing: border-box;
}

.category-button, .category-button-end{
    padding-bottom: 5px;
    border: none;
    background-color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    position: relative;
    text-decoration: none;
    font-weight: 400;
   
    transition: all .35s ease;

    &::before {
        content: ""; 
        position: absolute;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: black;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s; 
        transition: all 0.3s ease-in-out 0s; 
    }   

    &:hover {
        color:black;
        cursor: pointer;
        &::before {
            visibility: visible;
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }   
    }   

}

.category-button{
    padding-left:10px;
    padding-right:10px;
}

// .search-button {
//     color: black;
//     background: transparent;
//     border: none;
//     outline: none;
//     margin-left: -40px;
// }

.merger{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}



.cart {
    color: black;
    background: transparent;
    border: none;
    outline: none;
}

.line-divider {
    border-top: 1px solid lightgray;
    margin: 0px;
}