.complete-showpage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 35px;
}

.product-showpage-left-container{
    flex:2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-left:15%;
    // margin-right: 15%;
  
}

.product-show-image-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-image-container{
    flex:1.85;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-show-image{
    // display: flex;
    height: 500px;
    border-radius: 10px;
    // justify-content: center;
}
.product-show-icon{
    flex:0.15;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: solid black;
}

.product-details{
    flex:1;
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    width: 150px;
    // padding-left: 5px;
}





.product-name-show{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.product-description-show{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    // font
    // font-weight: bold;
}

.product-price-show-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.product-price-show{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight:bolder;
    margin-top: 10px;
    
}

.cart-show{
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    display: block;
    border-radius: 24px;
    border-color: black;
    background-color: black;
    color:white ;
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 18px;
    padding-left: 18px;
    font-size:16px;
    width: 100%;
    height: 48px;
    border:none;
  }

  .cart-show:hover{
    // background-color: black;
    border-color: black;
    transform: scale(1.02);
  }

.in-stock{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
}

.in-stock-text{
    padding-bottom: 4px;
    font-weight: bold;
    color:#4c4f4c;
}

.klarna-text-product-show, .in-stock-text, .product-description, .hooray-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

.klarna-text-product-show{
    padding-top: 25px;
}

.product-description{
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
}


.hooray-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;

}

.hooray-text{
    padding-left: 10px;
    line-height: 1.3;
}

