.product-show{
    // display: flex;
    height: 500px;
    border-radius: 10px;
    // justify-content: center;
}
.product-show-icon{
    width: 60px;
    height: 60px;
    border-radius: 5px;
    border: solid black;
}

// .product-display{
//     display: flex;
//     align-items: top;
//     width: 55%;
    
// }

.product-details{
    display: flex;
    flex-direction: column;
    // justify-content: space-around;
    width: 150px;
}

.product-showpage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:10%;
    margin-right: 10%;
    margin-top: 35px;
}

.product-name-show{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.product-description-show{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    // font
    // font-weight: bold;
}

.product-price-show{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 10px;
    
}

