.first-layer{
    background-color: #fdebd2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.photo-disp-splash {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 150px;
    margin: 30px;
}

.photo-disp-splash:hover {
    transform: scale(1.02); 
    -moz-box-shadow: 0 0 10px rgb(134, 134, 134);
    -webkit-box-shadow: 0 0 10px rgb(134, 134, 134);
    box-shadow: 0 0 10px rgb(134, 134, 134);
}

.first-layer-images{
    display: flex;
    flex-direction: row;
}